.guess {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-color);
  padding: 2rem 4rem 2rem 4rem;
  border: none;
  border-radius: 99rem;
  font-size: 2rem;
  font-weight: bold;

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }
}
