.wrapper {
  border: none;
  border-radius: 99rem;
  padding: 2rem;
  min-height: 4rem;
  width: 20%;
  background-color: var(--input-fill-primary);
  font-size: 2rem;
  font-weight: bold;
  color: var(--input-text-color);

  &::placeholder {
    color: var(--input-text-color);
  }

  &:focus {
    outline: none;
  }
}