:root {
  --off-white: #fcf9f5;
  --off-dark: #1b1b1b;

  color: var(--off-dark);
  font-size: 62.5%;

  --orange: #ffbd5a;
  --orange-shadow: #ffdda9;

  --purple: #8000ff;
  --purple-shadow: #c495ff;

  --canvas-color: #f4ede8;
  --correct-color: #37d200;

  --grid-color: rgba(74, 174, 255, 0.15);
  --grid-tile-size: 80px;

  background-color: var(--off-white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: var(--font-pangolin);
  font-size: 1.8rem;
}

button,
a {
  &:hover {
    cursor: pointer;
  }
}

button {
  border: none;
  border-radius: 99rem;
  padding: 1rem 2.5rem;
  color: var(--off-white);
  font-size: 2rem;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
