:root {
  --note-text-color: #b46f07;
  --text-color: #fff8dd;

  color: var(--text-color);

  font-size: 62.5%;

  --brand-color: #ffa800;
  --accent-color: #9546fb;

  --input-fill-primary: rgba(255, 247, 221, 0.51);
  --input-text-color: #da8506;

  --dark-orange: #ed8e00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: var(--font-general-sans);
  font-size: 1.6rem;
  font-weight: 500;
}

button,
a {
  &:hover {
    cursor: pointer;
  }
}
