@use './util.module.scss' as util;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @include util.grid-bg();
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 5rem;

  .spotlite {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 99rem;
    background-color: var(--orange);
  }

  .teacherMode {
    padding: 1rem 2.5rem;
    border-radius: 99rem;
    color: var(--off-white);
    font-size: 2rem;
    background-color: var(--purple);
  }
}

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tag {
    padding: 0.75rem 2rem;
    border-radius: 99rem;
    font-size: 1.8rem;
    background-color: var(--canvas-color);
  }

  .roomCodeInput {
    margin-top: 5rem;

    input {
      padding: 1rem 2.5rem;
      border: none;
      font-size: 5rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1rem;
      background: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        text-transform: none;
        letter-spacing: 0.1rem;
      }
    }
  }

  .join {
    width: max-content;
    margin-top: 2.5rem;
    background-color: var(--purple);
  }
}

.footer {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.usernameCharacterSelect {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  @include util.grid-bg();

  .characterSelect {
    margin-bottom: 5rem;

    .characterPreview {
      object-fit: contain;
      margin-bottom: 7.5rem;
    }
  }

  .usernameInput {
    width: 20ch;
    border: none;
    font-size: 6.5rem;
    text-align: center;
    background: none;

    &:focus {
      outline: none;
    }
  }

  .join {
    padding: 1rem 2.5rem;
    margin-top: 3.5rem;
    border-radius: 99rem;
    color: var(--off-white);
    background-color: var(--purple);
  }

  .error {
    height: 1rem;
    color: var(--red);
    font-size: 2.5rem;
  }
}
