@mixin grid-bg {
  background-size: var(--grid-tile-size) var(--grid-tile-size);
  background-image: linear-gradient(
      to right,
      var(--grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-position: center;
}

@mixin text-shadow($x: 4px, $y: 4px) {
  text-shadow: $x $y rgba(0, 0, 0, 0.25);
}

@mixin drop-shadow($x: 4px, $y: 4px) {
  box-shadow: $x $y 0px rgba(0, 0, 0, 0.25);
}

@mixin borderedText($content, $width, $color: var(--dark-text)) {
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: $content;
    z-index: -1;
    font-size: inherit;
    -webkit-text-stroke: $width $color;
  }
}
