.main {
  width: 100%;
  height: 100vh;
  background-color: var(--brand-color);
}

.chooseTopics {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 15rem;

  .topics {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: var(--input-text-color);

    .topic {
      width: 100%;
      min-height: 6rem;
      font-size: 1.6rem;
      text-align: start;

      &::placeholder {
        font-size: 1.8rem;
      }

      .deleteTopic {
        color: var(--input-text-color);

        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
      }
    }
  }

  .addTopic {
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 99rem;
    color: var(--input-text-color);
    font-size: 5rem;
    background-color: var(--input-fill-primary);
    box-shadow: 0.3rem 0.3rem;
  }

  .hostRoom {
    position: absolute;
    bottom: 10rem;
    right: 10rem;
  }
}

@mixin drop-shadow() {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.lobby {
  width: 100%;
  height: 100%;
  padding: 7rem 15rem 7rem 15rem;

  .roomSettings {
    width: 100%;
    height: 27.5rem;
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
    column-gap: 2.5rem;
    padding: 5rem;
    border-radius: 80px;
    background-color: var(--accent-color);

    .roomCodeDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding: 1.5rem 0;
      border-right: 2.5px solid #7d33da;
      @include drop-shadow();

      .roomCode {
        font-family: var(--font-rowdies);
        font-size: 8rem;
        text-transform: uppercase;
      }
    }

    .subtleText {
      font-size: 2rem;
      font-weight: 600;
      opacity: 0.75;
    }

    .settings {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .time {
        font-family: var(--font-rowdies);
        font-size: 5rem;
        font-weight: 600;
        @include drop-shadow();
      }
    }
  }
}

.players {
  width: 100%;
  height: calc(100vh - 5rem - 27.5rem);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  column-gap: 5rem;
  padding: 5rem;
}

.playerCount {
  display: flex;
  flex-direction: column;
  align-items: center;

  .number {
    font-family: var(--font-rowdies);
    font-size: 5rem;
    font-weight: 600;
    @include drop-shadow();
  }

  .text {
    opacity: 0.75;
    font-weight: 600;
  }
}

.playerList {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  overflow-y: scroll;
  padding: 1.5rem 0;

  .item {
    height: 6rem;
    color: var(--input-text-color) !important;
    background-color: rgba(255, 248, 221, 0.41) !important;
  }
}

.centeredWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  .header {
    opacity: 0.75;
    font-size: 2.5rem;
    font-weight: 600;
  }

  .timeLeft {
    font-family: var(--font-rowdies);
    font-size: 10rem;
    font-weight: 600;
    @include drop-shadow();
  }
}

.quizzer {
  font-family: var(--font-rowdies);
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.isTheQuizzer {
  opacity: 0.75;
  font-size: 1.8rem;
  font-weight: 600;
}

.leaderboardWrapper {
  width: 100%;
  height: 100%;
  padding: 15rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .leaderboardItem {
    position: relative;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    gap: 2.5rem;
    border-radius: 99rem;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.35);
    font-family: var(--font-rowdies);
    font-weight: 600;

    .name {
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    .score {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 1.5rem;
      align-items: center;
      margin-left: auto;
      font-size: 2.5rem;

      .icon {
        width: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .nextButton {
    position: absolute;
    bottom: 10rem;
    right: 10rem;
    width: 25rem;
    height: 5.5rem;
  }
}

.podiumWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--accent-color);

  .backgroundPillars {
    width: 80%;
    height: 100%;
    gap: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .pillarWrapper {
      flex: 1;
      max-width: 40rem;
      display: flex;
      flex-direction: column;
      gap: 3.5rem;

      .pillar {
        flex: 1;
        background-color: var(--brand-color);
      }
    }
  }

  .foregroundPillars {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    gap: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .pillarWrapper {
      flex: 1;
      max-width: 40rem;
      display: flex;
      flex-direction: column;
      gap: 3.5rem;

      .pillar {
        flex: 1;
        background-color: var(--accent-color);
      }
    }
  }

  .player {
    width: 30rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 99rem;
    color: var(--accent-color);
    font-family: var(--font-rowdies);
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--text-color);
    filter: drop-shadow(4px 5px 0px rgba(0, 0, 0, 0.25));
  }
}

.seeQuestionBank {
  position: absolute;
  top: 5rem;
  right: 5rem;
  height: 4.5rem;
  padding: 0 3.5rem;
  font-size: 1.4rem;
  background-color: var(--dark-orange) !important;
}

.startGame {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

.quizQuestionWrapper {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 15rem 15rem 15rem 15rem;
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  justify-items: stretch;
  align-items: stretch;
  gap: 5rem;

  .quizQuestion {
    width: 100%;
    height: 100%;
    text-align: left;
    color: var(--accent-color);

    &::placeholder {
      opacity: 50%;
      color: var(--accent-color);
    }
  }

  .gridRight {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .guesses {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      font-size: 2rem;
      width: 100%;
    }
  }
}
