@use '../../util.module.scss' as util;

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--off-white);
}

.chooseTopics {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 2.5rem;
  padding-top: 15rem;

  .logo {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
  }

  .title {
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
  }

  .topics {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .topic {
      width: 100%;
      height: 9rem;
      display: grid;
      grid-template-columns: 2ch 1fr auto;
      column-gap: 1.5rem;
      font-size: 5rem;

      .index {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: inherit;
      }

      .inputWrapper {
        max-width: 100%;
        position: relative;
        overflow: hidden;
        padding-left: 2rem;

        &::after {
          content: '__________________________________________';
          position: absolute;
          pointer-events: none;
          top: 1rem;
          left: 0;
          color: var(--accent-color);
          font-size: 5rem;
        }
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 3.5rem;
        background: none;

        &:focus {
          outline: none;
        }

        &::placeholder {
          opacity: 0.5;
        }
      }

      .delete {
        width: 15rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6.5rem;

        button {
          background-color: var(--accent-color);
        }
      }
    }
  }

  .actions {
    display: flex;
    gap: 2.5rem;

    .anothaOne {
      background-color: var(--accent-color);
    }

    .startGame {
      background-color: var(--brand-color);
    }
  }
}

.lobby {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;

  .logo {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    width: max-content;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 2.5rem;
    padding-right: 30rem;

    .tag {
      font-size: 2.5rem;
    }

    .roomCode {
      position: relative;
      z-index: 0;
      color: var(--off-white);
      font-size: 12.5rem;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25rem;
        height: 25rem;
        z-index: -99;
        border-radius: 99rem;
        background-color: var(--brand-color);
      }

      &::after {
        content: attr(data-text);
        position: absolute;
        left: 0;
        color: white;
        -webkit-text-stroke: 15px var(--accent-color);
        z-index: -1;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 5rem;
      margin-top: 3.5rem;

      .lockRoom {
        background-color: var(--accent-color);
      }

      .startGame {
        background-color: var(--brand-color);
      }
    }

    .settings {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 30rem;
      min-height: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2.5rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: var(--accent-color);

      .setting {
        display: flex;
        flex-direction: column;
        color: var(--off-white);

        .settingName {
          color: var(--off-white);
          font-size: 1.8rem;
        }

        .time {
          position: relative;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 6rem;

          .minutePlaceholder {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            font-size: inherit;
          }

          input {
            width: 2ch;
            color: var(--off-white);
            border: none;
            font-size: inherit;
            text-align: right;
            background: none;

            &::placeholder {
              color: var(--off-white);
              opacity: 0.5;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--off-white);
    background-color: var(--accent-color);
  }
}

.players {
  width: 100%;
  height: calc(100vh - 5rem - 27.5rem);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  column-gap: 5rem;
  padding: 5rem;
}

.playerCount {
  display: flex;
  flex-direction: column;
  align-items: center;

  .number {
    font-family: var(--font-rowdies);
    font-size: 5rem;
    font-weight: 600;
  }

  .text {
    opacity: 0.75;
    font-weight: 600;
  }
}

.playerList {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  overflow-y: scroll;
  padding: 1.5rem 0;

  .item {
    height: 6rem;
    color: var(--input-text-color) !important;
    background-color: rgba(255, 248, 221, 0.41) !important;
  }
}

.createQuestions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--off-white);
  background-color: var(--accent-color);

  .logo {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
  }

  .title {
    position: relative;
    z-index: 1;
    font-size: 3rem;

    &::after {
      content: 'Create your quiz questions!';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-text-stroke: 5px var(--dark-text);
    }
  }

  .addTime {
    margin: 3rem;
    background-color: var(--brand-color);
  }

  .time {
    position: relative;
    z-index: 1;
    font-size: 12.5rem;

    &::after {
      content: attr(data-time);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-text-stroke: 10px var(--dark-text);
    }
  }

  .progressWrapper {
    width: 50%;
    height: 3.5rem;
    margin-top: 5rem;
    border: 5px solid var(--dark-text);
    border-radius: 99rem;

    .inner {
      height: 100%;
      border-radius: 99rem;
      background-color: var(--off-white);
      transition: width 0.2s;
    }
  }
}

.revealQuizzer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--accent-color);

  .quizzer {
    @include util.borderedText(attr(data-text), 7.5px);
    color: var(--off-white);
    font-size: 7.5rem;
  }

  .subtext {
    @include util.borderedText('...is in the spotlite!', 3.5px);
    color: var(--off-white);
    font-size: 2.5rem;
  }
}

.leaderboardWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  .logo {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .item {
      width: 80rem;
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .meta {
        flex: 1;
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
      }

      .points {
        flex: 1;
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
      }

      .status {
        flex: 1;
        transform: rotate(90deg);
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
      }
    }
  }

  .next {
    margin-top: 2.5rem;
    background-color: var(--accent-color);
  }
}

.quizQuestionWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .logo {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
  }

  .quizzer {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99rem;
    color: var(--off-white);
    font-size: 2rem;
    background-color: var(--accent-color);
  }

  .timerWrapper {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    .timer {
      @include util.borderedText(attr(data-text), 3.5px);
      color: var(--off-white);
      font-size: 3.5rem;
    }
  }

  .questionPrompt {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: wrap;
    text-align: center;
    font-size: 2.5rem;
  }

  .questionDisplay {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 20rem;
    padding-bottom: 5rem;
  }

  .questionHint {
    position: absolute;
    font-size: 5rem;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%);
  }

  .forceSkip {
    position: absolute;
    font-size: 3rem;
    bottom: 5rem;
    right: 0px;
    background-color: var(--accent-color);
    transform: translate(-50%);
  }
}

.answerReveal {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .answer {
    font-size: 5rem;
  }
}

.podiumWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--off-white);

  .logo {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
  }

  .titleWrapper {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);

    .title {
      @include util.borderedText(attr(data-text), 5px);
      color: var(--off-white);
      font-size: 3.5rem;
    }
  }

  .topThree {
    width: 100%;
    height: 50rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    .third,
    .first,
    .second {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .rank {
        z-index: 99;
        @include util.borderedText(attr(data-text), 5px);
        color: var(--off-white);
        font-size: 5rem;
      }

      .name {
        z-index: 99;
        @include util.borderedText(attr(data-text), 3.5px);
        color: var(--off-white);
        font-size: 2.5rem;
      }
    }

    .third {
      .spotlight {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25rem;
        height: 25rem;
        opacity: 0.5;
        border-radius: 99rem;
        background-color: var(--accent-color);
      }
    }

    .first {
      .spotlight {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
        height: 40rem;
        opacity: 1;
        border-radius: 99rem;
        background-color: var(--accent-color);
      }
    }

    .second {
      .spotlight {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: 30rem;
        opacity: 0.75;
        border-radius: 99rem;
        background-color: var(--accent-color);
      }
    }
  }
}
