@use '../../../util.module.scss' as util;

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include util.grid-bg();

  .title {
    margin-bottom: 2.5rem;
    font-size: 3rem;
  }

  .timeLeft {
    color: var(--purple);
    font-size: 15rem;
  }

  .submittedQuestionCount {
    font-size: 2rem;
  }

  .actions {
    display: flex;
    gap: 3.5rem;
    margin-top: 5rem;

    button {
      background-color: var(--purple);
    }

    .forceStart {
      color: var(--off-dark);
      background-color: var(--orange);
    }
  }
}
