.slateWrapper {
  /* resize only in dev mode!! */
  /* resize: both; */
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
  border: 1px solid lightgray;
}

.colorSelect {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 15px;
  background-color: white;
}

.controls {
  width: 7.5rem;
  height: 100%;
  max-height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-left: 1px solid lightgray;
  background-color: white;
}

.controls > .controlLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid lightgray;
  border-radius: 99rem;
  font-size: 1rem;
}

.controls .colorWheel {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 99rem;
  background: conic-gradient(
    hsl(0deg 100% 50%),
    hsl(10deg 100% 50%),
    hsl(20deg 100% 50%),
    hsl(30deg 100% 50%),
    hsl(40deg 100% 50%),
    hsl(50deg 100% 50%),
    hsl(60deg 100% 50%),
    hsl(70deg 100% 50%),
    hsl(80deg 100% 50%),
    hsl(90deg 100% 50%),
    hsl(100deg 100% 50%),
    hsl(110deg 100% 50%),
    hsl(120deg 100% 50%),
    hsl(130deg 100% 50%),
    hsl(140deg 100% 50%),
    hsl(150deg 100% 50%),
    hsl(160deg 100% 50%),
    hsl(170deg 100% 50%),
    hsl(180deg 100% 50%),
    hsl(190deg 100% 50%),
    hsl(200deg 100% 50%),
    hsl(210deg 100% 50%),
    hsl(220deg 100% 50%),
    hsl(230deg 100% 50%),
    hsl(240deg 100% 50%),
    hsl(250deg 100% 50%),
    hsl(260deg 100% 50%),
    hsl(270deg 100% 50%),
    hsl(280deg 100% 50%),
    hsl(290deg 100% 50%),
    hsl(300deg 100% 50%),
    hsl(310deg 100% 50%),
    hsl(320deg 100% 50%),
    hsl(330deg 100% 50%),
    hsl(340deg 100% 50%),
    hsl(350deg 100% 50%)
  );
}

.controls > .control[data-type='number'] {
  pointer-events: none;
  user-select: none;
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
  border: none;
}

.controls > .control {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  min-height: 4rem;
  margin-bottom: 1.5rem;
  border: 1px solid lightgray;
  border-radius: 99rem;
  font-size: 2rem;
}

.controls > .control:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.5);
}

.control[data-toggled='true'] {
  background-color: rgba(200, 200, 200, 0.75);
}

.editingSpace {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.note {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  font-size: 1.2rem;
  background-color: lightgray;
  transition: transform 0.25s;
}

.textElements {
  position: absolute;
  top: 0;
  left: 0;
  overflow: clip;
  width: 100%;
  height: 100%;
}

.textResizeWrapper {
  position: absolute;
  min-width: 1ch;
}

.sizeControl {
  pointer-events: none;
  white-space: pre;
  visibility: hidden;
}

.textElement {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(-50%);
  padding: 0.5rem;
  width: calc(100% + 1rem);
  border: none;
  outline-color: black;
  font-family: inherit;
  background-color: transparent;
}

.canvasWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.canvasWrapper > canvas[data-mode='draw'] {
  cursor: crosshair;
}

.canvasWrapper > canvas[data-mode='type'] {
  cursor: text;
}

.canvasWrapper > canvas {
  position: absolute;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
